<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">

    <link rel = "stylesheet" href = "../static/css/styles.css">
    <script defer src = "../static/js/start.js"></script>

    <title>Zadania</title>
</head>
<body>
    <h1>Zadania</h1>
    <div class = "margin-to-the-left">
    <h2>Zadanie 1</h2>
        <p><sup>Napisz program obliczający i wyświetlający na ekranie iloraz dwóch liczb całkowitych (dzielna, dzielnik) wprowadzanych z klawiatury aż do wprowadzenia dzielnika równego 0. Ponieważ nie da się obliczyć ilorazu dla dzielnika równego 0, program powinien wyświetlić odpowiedni komunikat.</sup></p>

        <h2>Zadanie 2</h2>
        <p><sup>Napisz program obliczający i wyświetlający na ekranie objętość sześcianu o boku 'bok' aż do wprowadzenia nie dodatniej wartości zmiennej 'bok'.</sup></p>

        <h2>Zadanie 3</h2>
        <p><sup>Napisz specyfikację zadania i program zliczający, ile jest liczb podzielnych przez 3 pośród liczb wprowadzonych z klawiatury. W przypadku wprowadzenia 0, program ma zakończyć działanie.</sup></p>
    </div>
    <h1>Code</h1>
        <pre>
        if (3 > number) {
            // do something
        }
        else {
            // do something if is false
        }
        </pre>

</body>
</html>