<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">

    <link rel = "stylesheet" href = "../static/styles.css">
    <script defer src = "../static/start.js"></script>

    <title>Zadania</title>
</head>
<body>
    <h1>Zadania</h1>

    <div class="margin-to-the-left">
        <h3>Zadanie 1</h3>
        <p>25kg winogron kosztuje 8 złotych. Ile kosztuje 1 tona winogron?</p>

        <h3>Zadanie 2</h3>
        <p>Ile metrów siatki potrzebna na ogrodzenie kwadratowej działki o boku 28m?</p>

        <h3>Zadanie 3</h3>
        <p>Ile metrów siatki potrzebna na ogrodzenie prostokątnej działki o wymiarach 10m i 13m?</p>

        <h3>Zadanie 4</h3>
        <p>Robert ma 80 kaset, Krzysiek ma 8 razy mniej. Ile kaset mają razem?</p>

        <h3>Zadanie 5</h3>
        <p>Kwadrat i prostokąt mają takie same obwody. Prostokąt ma wymiary 12cm i 6cm. Oblicz pole kwadratu.</p>
    </div>
    <h1>Odpowiedzi</h1>

    <div class="margin-to-the-left">
        <h3>Zadanie 1</h3>
        <p>Jedna tona winogron kosztuje 320zł.</p>
        
        <h3>Zadanie 2</h3>
        <p>Na ogrodzenie działki potrzeba 112m siatki.</p>
        
        <h3>Zadanie 3</h3>
        <p>Na ogrodzenie działki potrzeba 46m siatki.</p>
        
        <h3>Zadanie 4</h3>
        <p>Robert i Krzysiek mają razem 90 kaset.</p>
        
        <h3>Zadanie 5</h3>
        <p>Pole kwadratu wynosi 81m<sup>2</sup>.</p>
    </div>

</body>
</html>