<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1 class="main_text">Kliknij na wyraz...</h1>
  <div style="font-size: 50px;">
    <span onclick="redClick()" class="czerwony" style="color: red;">czerwony</span><span onclick="greenClick()" class="zielony" style="color: green;">zielony</span><span onclick="blueClick()" class="niebieski" style="color: blue;">niebieski</span>
  </div>

  <script>
    function redClick() {
      document.querySelector(".main_text").textContent = "Wyraz ma kolor: red"
    }

    function greenClick() {
      document.querySelector(".main_text").textContent = "Wyraz ma kolor: green"
    }

    function blueClick() {
      document.querySelector(".main_text").textContent = "Wyraz ma kolor: blue"
    }
  </script>
</body>
</html>