<!DOCTYPE html>
<html lang="en">
<head
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <button class="clickme" onclick="clickmeFunction()">Powitaj</button>
  <h1 class="empty_div"></h1>

  <script>
    function clickmeFunction() {
      document.querySelector(".clickme").style.display = "none";
      document.querySelector(".empty_div").textContent = "Witaj świecie!";
    }
  </script>
</body>
</html>