<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" href="../../static/css/bikes.css">
</head>
<body>
	<h2>Rowery sztosowe Trek</h2>
	
	<nav>
		<a href="index_bikes.html">Strona Główna</a>
		<a href="trek_domane_sl_6.html">Trek Domane SL 6</a>
		<a href="trek_checkpoint_sl_7.html">Trek Checkpoint SL 7</a>
		<a href="trek_madone_sl_6_disc.html">Trek Madone SL 6 Disc</a>
		<a href="trek_madone_slr_9_disc_etap.html">Trek Madone SLR 9 Disc eTap</a>	
	</nav>

	<p>Trek to jeden z czołowych światowych producentów rowerów. Amerykańska marka to
		ukoronowanie pasji i unikalnej wizji swoich założycieli. Rowery Trek to nowoczesne
		technologie w połączeniu ze sprawdzonymi rozwiązaniami dla maksymalnej efektywności i
		radości z jazdy. Dumą i chlubą marki są udoskonalane przez lata ramy, które należą do
		najlżejszych, a jednocześnie najlepszych na rynku. Producent udziela na ten komponent
		dożywotniej gwarancji.</p>

	<p>Amerykańska marka to ukoronowanie pasji i unikalnej wizji swoich założycieli. Rowery Trek to
		nowoczesne technologie w połączeniu ze sprawdzonymi rozwiązaniami dla maksymalnej
		efektywności i radości z jazdy. Dumą i chlubą marki są udoskonalane przez lata ramy, które
		należą do najlżejszych, a jednocześnie najlepszych na rynku. Producent udziela na ten
		komponent dożywotniej gwarancji.</p>

	<div class="section1">
		<img src="../../static/images/bike_images/domane-sl-6/trek-domane-sl-6-small.png" alt="Trek Domane SL 6">
		<footer>Trek Domane SL 6</footer>	
	</div>

	<div class="section2">
		<img src="../../static/images/bike_images/checkpoint-sl-7/trek-checkpoint-sl-7-small.png" alt="Trek Checkpoint SL 7">
		<footer>Trek Checkpoint SL 7</footer>	
	</div>

	<div class="section3">
		<img src="../../static/images/bike_images/madone-sl-6-disc/trek-madone-sl-6-disc-small.png" alt="Trek Domane SL 6 Disc">
		<footer>Trek Domane SL 6 Disc</footer>	
	</div>

	<div class="section4">
		<img src="../../static/images/bike_images/madone-slr-9-disc-etap/trek-madone-slr-9-disc-etap-small.png" alt="Trek Madone SLR 9 Disc eTap">
		<footer>Trek Madone SLR 9 Disc eTap</footer>	
	</div>

	<footer><br>TrekBikes ©2019</footer>

</body>
</html>