<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" href="../../static/css/bikes.css">
</head>
<body>
	<h2>Trek Domane SLR 9 Disc eTap</h2>

	<h5>Cena: 21 999,99zł</h5>
	<a href="index_bikes.html">Strona Główna</a>

	<nav>
		<a href="index_bikes.html">Strona Główna</a>
		<a href="trek_domane_sl_6.html">Trek Domane SL 6</a>
		<a href="trek_checkpoint_sl_7.html">Trek Checkpoint SL 7</a>
		<a href="trek_madone_sl_6_disc.html">Trek Madone SL 6 Disc</a>
		<a href="trek_madone_slr_9_disc_etap.html">Trek Madone SLR 9 Disc eTap</a>	
	</nav>

	<img src="../../static/images/bike_images/madone-slr-9-disc-etap/trek-madone-slr-9-disc-etap-medium.png" alt="Trek Domane SLR 9 Disc eTap">
	<footer>Madone SLR 9 Disc eTap łączy właściwości aerodynamiczne i charakterystykę jazdy wybitnej
		szosówki z płynną pracą najbardziej zaawansowanego napędu SRAM - RED eTap AXS. To
		pierwsza bezprzewodowa, sterowana elektronicznie grupa osprzętu z 12-rzędową kasetą.
		Wskocz na siodełko, a doświadczysz najszybszej i najbardziej inteligentnej zmiany biegów.</footer>
		
		<h3>Dane techniczne</h3>

	<table>
		<tr>
			<td rowspan="6">Napęd</td>
			<td>Manetka</td>
			<td>SRAM RED eTap AXS, 12-biegowy</td>
		</tr>
		<tr>
			<td>Przerzutka przednia</td>
			<td>SRAM RED eTap AXS, mocowanie bezpośrednio na ramie</td>
		</tr>
		<tr>
			<td>Przerzutka tylna</td>
			<td>SRAM RED eTap AXS, prowadzenie łańcucha Orbit, największa zębatka 33T</td>
		</tr>
		<tr>
			<td>Korba</td>
			<td>SRAM RED D1, 48/35, oś 24 mm, 172,5 mm długości</td>
		</tr>
		<tr>
			<td>Kaseta</td>
			<td>SRAM RED XG-1290, 10-28, 12-rzędowa</td>
		</tr>
		<tr>
			<td>Łańcuch</td>
			<td>SRAM RED D1, 12-biegowa</td>
		</tr>
	</table>

	<div>
		<img src="../../static/images/bike_images/madone-slr-9-disc-etap/image1.jpg" alt="Image 1">
		<img src="../../static/images/bike_images/madone-slr-9-disc-etap/image2.webp" alt="Image 2">
	</div>
	<div>
		<img src="../../static/images/bike_images/madone-slr-9-disc-etap/image3.jpg" alt="Image 3">
		<img src="../../static/images/bike_images/madone-slr-9-disc-etap/image4.jpg" alt="Image 4">
	</div>
	<div>
		<img src="../../static/images/bike_images/madone-slr-9-disc-etap/image5.jpg" alt="Image 5">
		<img src="../../static/images/bike_images/madone-slr-9-disc-etap/image6.jpg" alt="Image 6">	
	</div>

	<footer><br>Trek Bikes ©2019</footer>
</body>
</html>