<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" href="../../static/css/bikes.css">
</head>
<body>
	<h2>Trek Domane SL 7</h2>

	<h5>Cena: 17 999,99zł</h5>
	<a href="index_bikes.html">Strona Główna</a>
	
		<nav>
		<a href="index_bikes.html">Strona Główna</a>
		<a href="trek_domane_sl_6.html">Trek Domane SL 6</a>
		<a href="trek_checkpoint_sl_7.html">Trek Checkpoint SL 7</a>
		<a href="trek_madone_sl_6_disc.html">Trek Madone SL 6 Disc</a>
		<a href="trek_madone_slr_9_disc_etap.html">Trek Madone SLR 9 Disc eTap</a>	
	</nav>

	<img src="../../static/images/bike_images/checkpoint-sl-7/trek-checkpoint-sl-7-medium.png" alt="Trek Domane SL 7">
	<footer>Checkpoint SL 7 łączy naszą najlepszą ramę z włókna węglowego na szuter z wysokiej klasy
		częściami wybranymi pod kątem osiągów i wzorowej charakterystyki jazdy podczas
		największych i najtrudniejszych przygód na szutrze. Lekka rama z włókna węglowego OCLV z
		wygładzającym szuter IsoSpeed, bezprzewodowy, sterowany elektronicznie napęd SRAM
		Force/XX1 eTap AXS, koła z włókna węglowego OCLV i dodatkowe mocowania na osprzęt oraz
		akcesoria zapewniają razem komfort i sprawność niezbędne podczas następnej wyprawy w
		trudniejszych warunkach.</footer>

		<h3>Dane techniczne</h3>

	<table>
		<tr>
			<td rowspan="4">Napęd</td>
			<td>Manetka</td>
			<td>Shimano Ultegra R8020, 11-biegowa</td>
		</tr>
		<tr>
			<td>Przerzutka tylna</td>
			<td>SRAM XX1 Eagle AXS</td>
		</tr>
		<tr>
			<td>Korba</td>
			<td>Shimano Ultegra R8000, 50/34 (kompaktowa), 165 mm długości</td>
		</tr>
		<tr>
			<td>Łańcuch</td>
			<td>SRAM XX1 Eagle, 12 speed</td>
		</tr>
	</table>

	<div>
		<img src="../../static/images/bike_images/checkpoint-sl-7/image1.webp" alt="Image 1">
		<img src="../../static/images/bike_images/checkpoint-sl-7/image2.jpg" alt="Image 2">
	</div>
	<div>
		<img src="../../static/images/bike_images/checkpoint-sl-7/image3.jpg" alt="Image 3">
		<img src="../../static/images/bike_images/checkpoint-sl-7/image4.jpg" alt="Image 4">
	</div>
	<div>
		<img src="../../static/images/bike_images/checkpoint-sl-7/image5.webp" alt="Image 5">
		<img src="../../static/images/bike_images/checkpoint-sl-7/image6.webp" alt="Image 6">	
	</div>

	<footer><br>Trek Bikes ©2019</footer>
</body>
</html>