<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
	<p>Baner reklamowy</p>
	<img src="../static/images/logo.jpg" alt="none" width="800" height="100">

	<h2>Slogan</h2>

	<ul>
		<li><a href="#">Start</a></li>
		<li><a href="#">O nas</a></li>
		<li><a href="#">Sklep</a></li>
		<li><a href="#">Blog</a></li>
		<li><a href="#">Kontakt</a></li>
	</ul>

	<h3>Galeria produktów owocowych</h3>
	<img src="../static/images/apple.jpg" alt="." height="200" width="200">
	<img src="../static/images/cherry.jpg" alt="." height="200" width="200">
	<img src="../static/images/orange.jpg" alt="." height="200" width="200">
	<img src="../static/images/strawberry.jpg" alt="." height="200" width="200">

	<a href="okej"><br>okej</a>

	<h3>Galeria produktów warzywnych</h3>
	<img src="../static/images/pepper.jpg" alt="." height="200" width="200">
	<img src="../static/images/red-onion.jpg" alt="." height="200" width="200">
	<img src="../static/images/carrot.jpg" alt="." height="200" width="200">
	<img src="../static/images/tomato.jpg" alt="." height="200" width="200">

	<a href="okej"><br>okej </a>

	<footer><br>Dane teleadresowe</footer>
	<ul>
		<li><a href="#">Plik</a></li>
		<li><a href="#">Edycja</a></li>
		<li><a href="#">Widok</a></li>
		<li><a href="#">Pomoc</a></li>
	</ul>

</body>
</html>