<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
	<h1>Document</h1>

	<h2>Kim jestem?</h2>
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, repellendus ullam maxime temporibus sint, mollitia at aspernatur enim optio soluta pariatur veritatis vitae provident molestias sapiente, debitis fuga voluptatibus est nemo ab tenetur veniam blanditiis eligendi sit. Eius magni dicta repudiandae fugiat officia aut aperiam voluptatibus quod, libero, minima, rerum modi provident iure itaque consequatur similique? Quisquam dicta maiores <a target="_blank" href="https://www.youtube.com/watch?v=OyzBPgXOGZ0">fajnylink.pl</a></p>
	<img class="img1" src="https://images.pexels.com/photos/4041242/pexels-photo-4041242.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	
	<h2>Czym się zajmuję?</h2>
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, repellendus ullam maxime temporibus sint, mollitia at aspernatur enim optio soluta pariatur veritatis vitae provident molestias sapiente, debitis fuga voluptatibus est nemo ab tenetur veniam blanditiis eligendi sit. Eius magni dicta repudiandae fugiat officia aut aperiam voluptatibus quod, libero, minima, rerum modi provident iure itaque consequatur similique? Quisquam dicta maiores alias.</p>

	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">

	<h2>Co chcę</h2>
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, repellendus ullam maxime temporibus sint, mollitia at aspernatur enim optio soluta pariatur veritatis vitae provident molestias sapiente, debitis fuga voluptatibus est nemo ab tenetur veniam blanditiis eligendi sit. Eius magni dicta repudiandae fugiat officia aut aperiam voluptatibus quod, libero, minima, rerum modi provident iure itaque consequatur similique? Quisquam dicta maiores <a target="_blank" href="https://www.youtube.com/watch?v=OyzBPgXOGZ0">fajnylink.pl</a></p>

	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://images.pexels.com/photos/6359551/pexels-photo-6359551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="masz choro curke">
	<img class="img2" src="https://preview.redd.it/patn924v8xt81.jpg?width=640&crop=smart&auto=webp&s=616bc883666fe5e296abc72b4bc10291721a8ad0" alt="masz choro curke">



</body>
</html>