<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">

    <link rel = "stylesheet" href = "../static/styles.css">
    <script defer src = "../static/start.js"></script>

    <title>Zadania</title>
</head>
<body>
    <h1>Pracownia programowania I</h1>
    <h2>Kolokwium<br>20 września 2022r.</h2>
    <h3>Zadanie 1</h3>

    <div class="margin-to-the-left">
        <p>Dany jest plik tekstowy o nazwie <b>zwierzęta.txt</b> i jej zawartości:</p>
    
        <pre>
            ssaki   kot, lis, koń
            ptaki   wróbel, wrona
            płazy   żaba, rzekotka
            ...
        </pre>

        <p>Liczba wierszy w pliku może być dowolna, separatorem kolumn jest znak tabulacji oraz przecinek. Pierwsza linijka oznacza, że do grupy zwierząt o nazwie ssaki należą zwierzęta <i>kot</i>, <i>lis</i> i <i>koń</i>. Napisz skrypt PHP, który wyświetli dane z pliku <b>zwierzęta.txt</b> w postaci dwupoziomowej listy wypunktowanej <b>ol</b>.</p>
    </div>

    <h3>Zadanie 2</h3>
    <div class="margin-to-the-left">
        <p>Dany jest plik tekstowy o nazwie <b>adam-malysz.txt</b> i jej zawartości:</p>
    
        <pre>
            Planica | 25 marca 2007 | 220
            Zakopane | 2 stycznia 2004 | 107
            ...
        </pre>

        <p>Liczba wierszy w pliku może być dowolna. Każdy wiersz zawiera informacje na temat jednego skoku Adama Małysza: nazwę skoczni (np. <i>Planica</i>), datę skoku (np. <i>25 marca 2007</i>) i odległość (np. <i>220</i>). Napisz skrypt w PHP, który wyświetli dane z pliku <b>adam-malysz.txt</b> w postaci czterokolumnowej tabeli HTML. W pierszej kolumnie umieść numer porządkowy, w drugiej - nazwę skoczni, w trzeciej - datę, a w czwartej - odległość skoku.</p>
    </div>

</body>
</html>