<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" href="../../static/css/bikes.css">
</head>
<body>
	<h2>Trek Domane SL 6</h2>

	<h5>Cena: 15 999,99zł</h5>
	
	<nav>
		<a href="index_bikes.html">Strona Główna</a>
		<a href="trek_domane_sl_6.html">Trek Domane SL 6</a>
		<a href="trek_checkpoint_sl_7.html">Trek Checkpoint SL 7</a>
		<a href="trek_madone_sl_6_disc.html">Trek Madone SL 6 Disc</a>
		<a href="trek_madone_slr_9_disc_etap.html">Trek Madone SLR 9 Disc eTap</a>	
	</nav>

	<img src="../../static/images/bike_images/domane-sl-6/trek-domane-sl-6-medium.png" alt="Trek Domane SL 6">
	<footer>Domane SL 6 Disc to nad wyraz sprawny rower szosowy, który jest jednocześnie szybki i
		komfortowy. Zapewnia wszystkie korzyści wygładzającej trasę i lekkiej ramy z włókna
		węglowego OCLV z przednimi i tylnymi rozdzielaczami IsoSpeed, a do tego napęd oparty w
		pełni na grupie Shimano Ultegra, wysokiej jakości koła, hydrauliczne hamulce tarczowe dające
		pewność i moc hamowania w każdych warunkach. Dodatkowo, ma wygodny schowek na
		wszystko co najważniejsze.</footer>

	<h3>Dane techniczne</h3>

	<table>
		<tr>
			<td rowspan="6">Napęd</td>
			<td>Manetka</td>
			<td>Shimano Ultegra R8020, 11-biegowa</td>
		</tr>
		<tr>
			<td>Przerzutka przednia</td>
			<td>Shimano Ultegra R8000, zintegrowana</td>
		</tr>
		<tr>
			<td>Przerzutka tylna</td>
			<td>Shimano Ultegra R8000, długi wózek, maks. zębatka 34T</td>
		</tr>
		<tr>
			<td>Korba</td>
			<td>Shimano Ultegra R8000, 50/34 (kompaktowa), 165 mm długości</td>
		</tr>
		<tr>
			<td>Kaseta</td>
			<td>Shimano Ultegra HG800-11, 11-34, 11-rzędowa</td>
		</tr>
		<tr>
			<td>Łańcuch</td>
			<td>Shimano Ultegra HG701, 11-biegowe</td>
		</tr>
	</table>

	<div>
		<img src="../../static/images/bike_images/domane-sl-6/image1.jpg" alt="Image 1">
		<img src="../../static/images/bike_images/domane-sl-6/image2.jpg" alt="Image 2">
	</div>
	<div>
		<img src="../../static/images/bike_images/domane-sl-6/image3.jpg" alt="Image 3">
		<img src="../../static/images/bike_images/domane-sl-6/image4.jpg" alt="Image 4">
	</div>
	<div>
		<img src="../../static/images/bike_images/domane-sl-6/image5.jpg" alt="Image 5">
		<img src="../../static/images/bike_images/domane-sl-6/image6.jpg" alt="Image 6">	
	</div>

	<footer><br>Trek Bikes ©2019</footer>
</body>
</html>